body{
  font-family: Roboto, sans-serif;
}
.App, .login-page {
  text-align: center;
}
.input-group-addon:first-child{ width: auto; background: none; border: none; }
.checklist, .field-line{ width: 500px!important; margin: 0 auto;}
.field-line > div, .align-left{ width: 500px !important;}
.login-page .field-line, .login-page .field-line > div, .login-page .align-left{ width: 350px!important; display: inline;}

.DraftEditor-root{ min-height: 300px; }
.field-line .align-left div{ margin-right: 15px !important;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.container > div{
  position: relative;
}
.border-line{ border:1px solid #dadada; margin-bottom: 20px;}
label{
  font-weight: normal;
}
.margin-30{
  margin: 0 30px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.dialog-ui > div > div{
  max-width: 450px !important;
}
.load-notify{
  display: none !important;
}
.select-radio div{
  display: table-cell !important;
}
.show{
  display: block !important;
  margin: 0 auto;
}
.align-left label{ left: 0;}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.login-page{
  padding: 20px 0;
  margin: 20px auto!important;
  width: 410px;
  margin: 0 auto;
}
.login-page .button-line{
  margin-top: 20px;
}
.align-left{
  text-align: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.event-details{
  padding:20px;
}
.event-details > .date
{
  font-weight: bold;
}
.event-details > p{
  padding-top: 15px;
}
.event-timeline a{
  text-decoration: none;
  color: inherit;
}
a {
  color: #fff;
}
a:focus,
a:hover {
    text-decoration: none;
    color: #fff;
}
#taskAccordian h3{ font-size: 16px!important; text-transform: none!important;}
#taskAccordian .react-sanfona-item-expanded .react-sanfona-item-title { background-color: #b0bec5;}
.list-data a{ color: #000!important; }
.fa{ padding-right: 10px; }
.well{ border: none!important; }
.all-badges.well, .badge-widget.well, .hub-progress-widget.well,.hub-widget.well, .hub-home-event-timeline.well, .badge-widget.well{ padding: 0;}
.inner-container{ display: inline-block; padding: 19px; }
.widget.all-badges{ width: 640px !important; margin: 20px auto; text-align: left !important;}
.hub-widget.well{ margin: 20px auto; padding-bottom: 30px;max-width: 600px;}
.m-controls .x-slider {
  width: 100%;
}
.m-nested {
  width: 350px;
  /*padding: 50px;*/
  height:  147px;
}
.badge-container{ width: 600px !important; margin-top: 10px!important;}
.m-nested .example {
  position: relative;
}
.m-nested svg {
  position: absolute;
}
.m-nested .label-1 {
  top: 0;
  left: 0;
}
.m-nested .label-2 {
  top: 30px;
  left: 30px;
}
.m-nested .label-3 {
  top: 55px;
  left: 55px;
}

.shield-style {
  padding: 20px 20px 10px 20px;
  margin-left: 20px;
}
.widget-header{
 box-sizing: border-box;
 color: black;
 font-size: 15px;
 font-weight: 500;
 line-height: 35px;
 padding-left: 16px;
 width: 100%;
 background-color: #b0bec5;
 border-radius:10px 10px 0 0;
 text-align:left;
}
#ViewEvent, #initiativeDetails {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
.ToolTipPortal a, .event-attendance a{
  color: rgb(99, 194, 222);
}

.leftAlign {
  text-align:left!important;
  padding-bottom: 0px!important
}
.footer{
 text-align: center;
}
