.App, .login-page {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.container{
  width: 1300px;
  margin: 0 auto;
}
.margin-30{
  margin: 0 30px;
}
.menu-bar{
  display: block;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.dialog-ui > div > div{
  max-width: 450px !important;
}
.load-notify{
  display: none !important;
}
.select-radio div{
  display: table-cell !important;
}
.show{
  display: block !important;
  margin: 0 auto;
}
.align-left label{ left: 0;}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.login-page{
  padding: 20px 0;
  margin: 20px 0;
  width: 600px;
  margin: 0 auto;
}
.login-page .button-line{
  margin-top: 20px;
}
.login-page .align-left{
  text-align: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.event-details{
  padding:20px;
}
.event-details > .date
{
  font-weight: bold;
}
.event-details > p{
  padding-top: 15px;
}
.event-timeline a{
  text-decoration: none;
  color: inherit;
}
