.App, .login-page {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.login-page{
  padding: 20px 0;
  margin: 20px 0;
  width: 600px;
  margin: 0 auto;
}
.login-page .button-line{
  margin-top: 20px;
}
.login-page .align-left{
  text-align: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.event-details{
  padding:20px;
}
.event-details > .date
{
  font-weight: bold;
}
.event-details > p{
  padding-top: 15px;
}
