*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-align: center;
}
  body{
    background-color: #eceff4;
    color: #fff;
  }
/* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
  }

  .carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
  }

  .claim-badge{
    min-height: 200px;
    border-radius:10px;
    margin: 40px 15px 20px 15px;
    font-size: 40px;
    border: 2px solid #222d33;
    background-color: #222d33;
  }

  .widget-container{
    margin: 0px;
  }
  .widget{
    min-height: 150px;
    border-radius:10px;
    text-align: center;
    background-color: #fff;
    padding: 0px;

  }

  .navbar-hub{
  	min-height: 30px;
    background-color: #222d33;
  }


  .navbar-menu-list{
    list-style: none;
    margin:0;
  }
  .navbar-menu-listitem{
    /* display:inline-block; */
    font-size:14px;
  /*  vertical-align: middle;
    padding:0% 5% 0% 5%;
    margin:0 0 0 0.75%;*/
    color:#fff;
    /*cursor:pointer;*/
  }

  .hub-home-event-gallery{
    min-height:200px;
    margin: 0px 15px 20px 15px;
  }

  .hub-progress-widget{
    border:2px solid #00c0ef;
  }

  .hub-progress{
    border: none;
    background-color: #00c0ef;
  }

  .hub-badges-widget{
    border:2px solid #00a65a;
  }

  .hub-badges{
    border: none;
    background-color: #00a65a;
  }

  .hub-attendance-widget{
    border:2px solid #f39c11;
  }

  .hub-attendance{
    border: none;
    background-color: #f39c11;
  }

  .hub-event-timeline{
    border:2px solid #de4b39;
    min-height: 490px;
    border-radius:10px;
    padding: 0px;
    background-color: #fff;
  }

  .event-timeline{
    border: none;
    background-color: #de4b39;
  }

  .hub-gallery{
    background-color: #1c2125;
    border-radius: 10px;
  }

  .hub-footer{
    background-color: #3c8dbc;
  }

  .past-event{
    opacity: 0.5;
  }

  .event-name{
    display: inline-block;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 767px) {
    .carousel-caption {
      display: none;
    }

    .hub-event-timeline{
      width: 100%;
      border-radius: 0px;
      margin: 0px;
    }

    .hub-home-event-timeline{
      min-height: 400px;
    }
    .widget-container{
      margin: 0 -15px;
    }
    .widget{
      border-radius: 0px;
      margin: 0px;
    }
    .navbar{
      display: none;
    }
    .claim-badge,.hub-gallery{
      margin: 0px;
      border-radius: 0px;
    }
  }
