
.navbar-fixed {
    background-color: #63c2de;
    border: none;

}
.brand-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    height: 64px;
    line-height: 64px;
    flex: 1 1 0%;
    padding: 0 20px;
    display: inline;
}
.menu-bar{
  display: block; background-color: #5d7e91!important; width: 100%;
}
.menu-bar >  div{ margin: 0 auto; background-color: #5d7e91!important; display: table!important;}
.menu-bar span{ font-size: 16px!important; text-transform: none!important; color: #fff!important; }
.menu-bar button svg{ color: #fff!important; }
.menu-item a{ color: #000!important; font-size: 14px!important;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgb(0, 188, 212);
}
.logo{
  width:75px;
  height:75px;
  display:inline;
  float: left;
  border-radius: 5px;
  margin: 7px;
}
.avatar{
    width:50px;
    height:30px;
    display:inline;
    float: right;
    padding-left:20px;
  }
  .avatar1{
    float: right;
   }
.user-name{
  font-weight: bold;
  float: right;
  color: white;
  margin: 11px;
}
.user-name a{
  text-decoration: none;
  color:white;
}
