
.navbar-fixed {
    background-color: #63c2de;
    border: none;

}
.brand-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    height: 64px;
    line-height: 64px;
    flex: 1 1 0%;
    padding: 0 20px;
    display: inline;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgb(0, 188, 212);
}
.logo{
  width:75px;
  height:75px;
  display:inline;
  float: left;
}
.avathar{
    width:50px;
    height:30px;
    display:inline;
    float: right;
    padding-left:20px;
  }
  .avathar1{
    float: right;
   }
.user-name{
  font-weight: bold;
  float: right;
  color: white;
}
.user-name a{
  text-decoration: none;
  color:white;
}
