.header-project-image{
  height:inherit;
  display: inline-block;
  width:30px;
}

.project-hub-header{
    min-height: 40px;
    background:#3c8dbc;
  }
  .header-project-title-container{
    float:left;
    margin:10px 0 0 20px;
    padding:0 0 0 10px;
  }
  .header-project-title-container::after{
    clear:both;
  }
  .header-project-title{
    padding:0 0 0 2px;
    display: inline-block;
    font-size: 20px;
    color:#fff;
    text-transform: capitalize;
    vertical-align: middle;
  }
  .header-project-userinfo-container{
    float:right;
    margin:10px 50px 0 0;
    padding:0 15px 0 0;
  }
  .header-project-userinfo-container::after{
    clear:both;
  }
  .header-project-user-info-text{
    padding:0 0 0 2px;
    display: inline-block;
    font-size: 18px;
    color:#fff;
    text-transform: capitalize;
    vertical-align: middle;     
  }


@media (max-width:991px){  
  .navbar-menu-list{
    padding:0%;
  }
}
@media (max-width:767px){
  .navbar-hub{
    display:none;
  }
  .navbar-menu-list{
    padding:0%;
  }
  .header-project-title-container{
    margin: 10px 0 0 0px;
  }
  .header-project-title{
      font-size: 14px;
    }
  .header-project-userinfo-container{
    margin: 10px 0px 0 0;
  }
  .header-project-user-info-text {
    font-size: 12px;
  } 
  .claim-badge{
    min-height: 75px;
    font-size: 20px;
  }

  .header-project-image {
    width: 20px;
  }

}
@media (max-width:320px){
    .header-project-user-info-text{
      font-size: 18px;
  }
  .header-project-userinfo-container{
    padding-top: 10px;
    margin:0;
  }
  .header-project-userinfo-container{
    padding: 10px 0 0 0;
  }
}
